<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <h1>Tasks inbox</h1>
        <div class="parent">
            <div class="child">
                <form id="newTask" class="newTask">
                    <input
                        type="input"
                        id="newTaskInput"
                        class="newTaskInput"
                        placeholder="New task"/>
                    <input
                        type="button"
                        id="newTaskSubmit"
                        class="newTaskSubmit"
                        value="Add Task"/>
                </form>
        
            </div>
        </div>

        <div class="output" id="output"></div>


        <script>
            const task = document.getElementById("newTaskInput");
            const createBtn = document.getElementById("newTaskSubmit");
            const output = document.getElementById("output");

            function createTask() {
                var newfield = document.createElement('input');
                newfield.setAttribute('class', 'newTaskOutput');
                newfield.value = task.value;

                var deleteButton = document.createElement('button');
                deleteButton.setAttribute('class', 'deleteButton');
                deleteButton.innerHTML = "-";

                output.appendChild(newfield);
                output.appendChild(deleteButton);
                deleteButton.addEventListener('click', deleteTask);

            }

            function deleteTask(event) {
                console.log(event.target);
                event.target.remove();
            }
            
            createBtn.addEventListener('click', createTask);

        </script>
    </body>
</html>