* {
    font-family: sans-serif;
}

body {
    /*width: 100%;*/
    height: 200%;
    background-color: linear-gradient(#153677, #4e085f);
}

.parent {
    width: 23%;
    height: 135px;
    position: relative;
    top: 38px;
    left:500px;
    background-color: white;
    border-radius: 30px;
}

.child {
    margin: 0 auto;
    width: 400px;
}

.newTaskInput {
    height: 35px;
    width: 210px;
    border-radius: 40px;
    background-color: lightgray;
    text-indent: 10px;
    border: none;
    position: relative;
    left: 25px;
    top: 20px;
    outline: none;
}

.newTaskSubmit {
    background-color: initial;
    height: 37px;
    width: 80px;
    border-radius: 40px;
    background-color: #ff5945;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    border-color: none;
    border: none;
    position: relative;
    right: 10px;
    top: 20px;
}

.newTaskSubmit:hover {
    background-color: rgb(217, 61, 66);
    color: rgb(255, 255, 255);
}

.taskOutput {
    display: flex;
    flex-direction: column;
    border: none;
}

.newTaskOutput {
    border-radius: 50px;
    width: 285px;
    height: 40px;
    align-self: center;
    flex-grow: 1;
    margin-bottom: -25px;
    text-indent: 20px;
    position: relative;
    right: 16px;
}

.deleteButton {
    width: 35px;
    height: 35px;
    background-color: #ff5945;
    color: white;
    border: none;
    border-radius: 50px;
    align-self: center;
    flex-grow: 1;
    position: relative;
    left: 105px;
    bottom: 16px;
    font-size: 14px;
}

.deleteButton:hover {
    background-color: rgb(231, 66, 72);
}

.checkIcon {
    width: 36px;
    height: 36px;
    align-self: center;
    position: relative;
    left: 65px;
    bottom: 51px;
    transition: width height .8s .5s;
}


h1 {
    position: relative;
    top: 20px;
    left: 50px;
    color: #ff5945;
}
