* {
    font-family: sans-serif;
    text-decoration: none;
    outline: none;
}

body {
    width: 100%;
}

.parent {
    width: 102.8%;
    height: 135px;
    position: relative;
    top: 45px;
}

.child {
    margin: 0 auto;
    width: 299px;
}

.newTaskInput {
    height: 35px;
    width: 210px;
    border-radius: 40px;
    background-color: lightgray;
    text-indent: 10px;
    border: none;
}

.newTaskSubmit {
    background-color: initial;
    height: 37px;
    width: 80px;
    border-radius: 40px;
    background-color: rgb(255, 78, 78);
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    border-color: none;
    border: none;
    position: relative;
    right: 38px;
}

.newTaskSubmit:hover {
    background-color: rgb(231, 66, 72);
    color: rgb(255, 255, 255);
}

.taskOutput {
    display: flex;
    flex-direction: column;
    border: none;
}

.newTaskOutput {
    border-radius: 50px;
    width: 285px;
    height: 40px;
    align-self: center;
    flex-grow: 1;
    margin-bottom: -25px;
    text-indent: 10px;
    
}

.deleteButton {
    width: 35px;
    height: 35px;
    background-color: rgb(321, 66, 72);
    color: white;
    border: none;
    border-radius: 50px;
    align-self: center;
    flex-grow: 1;
    position: relative;
    left: 122px;
    bottom: 16px;
}

.deleteButton:hover {
    background-color: rgb(231, 66, 72);
}

.checkIcon {
    width: 36px;
    height: 36px;
    align-self: center;
    position: relative;
    left: 79px;
    bottom: 51px;
    transition: width height .8s .5s;
}


h1 {
    position: relative;
    top: 20px;
    left: 50px;
}
